html {
    scroll-behavior: smooth;
}

header, #firstp {
    font-family: 'Open Sans', Arial, sans-serif;
    color: rgb(55, 55, 55);
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 45px;  
}

li {
    width: 980px;
    margin: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.grid {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#band1{
    background: rgb(223, 163, 137);
    text-align: center;  

}

#band2{
    background: rgb(133, 155, 193);
    text-align: center;  

}

#table {
    display:flex;
    flex-direction: column;
    align-items: center;  
    background-color: lightgray;
    height: 120px;
  
}

img.logo-home { width: 400px; }



footer, #center {
    text-align: center;
    display:flex;
    flex-direction: column;
    margin-top: 55px;
}

